<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<!--    &lt;!&ndash;配置过滤器&ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>loggingFilter</filter-name>-->
<!--        <filter-class>com.gzzz.filter.LoggingFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter>-->
<!--        <filter-name>lifeCycleFilter</filter-name>-->
<!--        <filter-class>com.gzzz.filter.LifeCycleFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>dateTimePattern</param-name>-->
<!--            <param-value>yyyy-MM-dd HH:mm:ss</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    &lt;!&ndash;  配置过滤器的过滤资源规则  路径  servlet-name  &ndash;&gt;-->
<!--    <filter-mapping>-->
<!--        <filter-name>loggingFilter</filter-name>-->
<!--        &lt;!&ndash;-->
<!--        url-pattern-->
<!--            /*   过滤全部资源-->
<!--            /a/* 过滤以a开头的资源-->
<!--            *.html 过滤以html为后缀的资源-->
<!--        servlet-name 根据请求的servlet的别名，对指定的servlet资源进行过滤-->

<!--        一个filter-mapping中可以同时存在多个url-pattern和servlet-name-->
<!--        &ndash;&gt;-->
<!--        <url-pattern>/*</url-pattern>-->
<!--&lt;!&ndash;        <servlet-name>servlet1</servlet-name>&ndash;&gt;-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>lifeCycleFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

<!--
配置多个过滤器
过滤器链顺序由filter-mapping的顺序决定
-->
<!--    <filter>-->
<!--        <filter-name>filter1</filter-name>-->
<!--        <filter-class>com.gzzz.filter.Filter1</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>filter1</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter>-->
<!--        <filter-name>filter2</filter-name>-->
<!--        <filter-class>com.gzzz.filter.Filter2</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>filter2</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter>-->
<!--        <filter-name>filter3</filter-name>-->
<!--        <filter-class>com.gzzz.filter.Filter3</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>filter3</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>
